extends layout.pug

block scripts
    script(src="https://unpkg.com/ionicons@latest/dist/ionicons.js")
    script(src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
    script(src="/socket.io/socket.io.js")
    script(defer, src="scripts/requestGame.js")
    script(defer, src="scripts/dastan.js")
    script(defer, src="scripts/game.js")

block content
    dastan-board
