extends layout.pug

block scripts
    script(src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js")
    script(src="/socket.io/socket.io.js")
    script(defer, src="scripts/dastan.js")
    script(defer, src="scripts/otb.js")

block content
    dastan-board
